<div class="container">
    <h1>დეტალური გვერდი</h1>

    <div class="user-details">
        <div class="detail-cont">
            <div class="detail-title">id</div>
            <div class="detail-value">{{user.id}}</div>
        </div>
        <div class="detail-cont">
            <div class="detail-title">name</div>
            <div class="detail-value">{{user.name}}</div>
        </div>
        <div class="detail-cont">
            <div class="detail-title">lastName</div>
            <div class="detail-value">{{user.lastName}}</div>
        </div>
        <div class="detail-cont">
            <div class="detail-title">gender</div>
            <div class="detail-value">{{user.gender}}</div>
        </div>
        <div class="detail-cont">
            <div class="detail-title">pid</div>
            <div class="detail-value">{{user.pid}}</div>
        </div>
        <div class="detail-cont">
            <div class="detail-title">mobNum</div>
            <div class="detail-value">{{user.mobNum}}</div>
        </div>
        <div class="detail-cont">
            <div class="detail-title">country</div>
            <div class="detail-value">{{user.country}}</div>
        </div>
        <div class="detail-cont">
            <div class="detail-title">city</div>
            <div class="detail-value">{{user.city}}</div>
        </div>
        <div class="detail-cont">
            <div class="detail-title">address</div>
            <div class="detail-value">{{user.address}}</div>
        </div>
    </div>

    <bonus-list class="bonus-list-style" [id]='id'></bonus-list>
</div>