<button mat-raised-button class="mr-20" [routerLink]="['/bonusAdd', id]" >ბონუსის დამატება</button>

<div class="mat-elevation-z8 height">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> userId </th>
      <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
    </ng-container>
    <ng-container matColumnDef="bonusType">
      <th mat-header-cell *matHeaderCellDef> bonusType </th>
      <td mat-cell *matCellDef="let element"> {{element.bonusType}} </td>
    </ng-container>
    <ng-container matColumnDef="bonusQuantity">
      <th mat-header-cell *matHeaderCellDef> bonusQuantity </th>
      <td mat-cell *matCellDef="let element"> {{element.bonusQuantity}} </td>
    </ng-container>
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> currency </th>
      <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="center"> Action </th>
      <td mat-cell *matCellDef="let element">
          <button mat-raised-button mat-button (click)="deleteBonus(element.id)">delete</button>
      </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>